<ion-view view-title="Weightlifting Helper">
  <ion-content>
   <!-- <label class="item item-input">
      <span class="input-label">Enter Working Max in Kilograms</span>
      <input type="number"> </input>
    </label>-->
    <div class="item item-input-inset">
    <label class="item-input-wrapper">
      <input type="number" placeholder="Enter Max in Kilos"  ng-model="max" >
    </label>
   <!-- <button class="button button-small" ng-click="findWork()">
      Submit
    </button> -->
  </div>
    <ion-list>
      <ion-item ng-repeat="percent in percents" ng-hide="max==NaN">
        {{percent.name + " percent: " +(max * percent.value).toFixed(1)}}
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
