<ion-view view-title="Weightlifting Helper">
  <ion-content>
   <div class="item item-divider">
   <h1 class="mainText"> Work Weight</h1>
   <div class="subText">To get stronger, you gotta work the numbers. Leave your calculator at home, we got you covered.</div>
  </div>
    <div class="item item-input-inset">
    <label class="item-input-wrapper">
      <input type="number" placeholder="Enter Max in Kilos"  ng-model="max" >
    </label>

  </div>
    <ion-list>
      <ion-item ng-repeat="percent in percents" ng-hide="max==NaN">
        {{percent.name + " percent:"}}  <span id="workset"> {{(max * percent.value).toFixed(1)}}kg</span>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
