<ion-view view-title="Weightlifting Helper">
  <ion-content>
   <!-- <label class="item item-input">
      <span class="input-label">Enter Working Max in Kilograms</span>
      <input type="number"> </input>
    </label>-->
    <div class="item item-input-inset">
    <label class="item-input-wrapper">
      <input type="number" placeholder="Enter Max in Kilos">
    </label>
    <button class="button button-small">
      Submit
    </button>
  </div>
    <ion-list>
      <ion-item>
        
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
